@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #272727;
  color: lightblue;
}

.display {
  max-width: 70%;
  margin: 30px auto;
  margin-bottom: 200px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background:  url('./img/grainy_background.png'), rgb(30,30,30);
}

.display > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}

.display p {
  color: lightblue;
}

.application {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-parameter {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-top: 5px;
  margin-bottom: 5px;

}

.form-entry {
  width: 70%;
  margin-right: 20px;
  margin-left: 10px;
}

.form-entry-text {
  
}

.form-entry-switch {
  text-align: left;
  padding-top: 15px;
  width: 65%;
  margin-left: 20px;
}

.form-title {
  width: 30%;
  text-align: right;
  padding: 15px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.container {
  background: #505050;
  border: 1px solid #3b3b3b;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
}

.container-exited {
  background: #404040;
}

.container.reminder {
  border-left: 5px solid green;
}

.container h2 {
  padding: 5px;
}

.container h2 > * {
  margin: 10px;
}

.container h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.container-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.disabled-link {
  color: #353535;
}

.form {
  display: flex;
  align-items: center;
}

#slug {
  padding-left: 5px;
}

.form > * {
  margin: 5px;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  padding: 0 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #313131;
  color: steelblue;
  background:  url('./img/grainy_background.png'), rgb(30,30,30);
}

.header {
  padding-top: 30px;
}

.info-field {
  max-width: 300px;
  min-height: 300px;
  background: #e9e9e9;
  border-radius: 3px;
  border: 1px solid #dadada; 
  margin: 10px;
  padding: 10px;
}

.unfocused {
  color: #505050;
}

.unfocused:hover {
  color: default;
}

.topbar {

}

.topbar h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-link {
  margin-right: 25px;
}

.system-info {
  color: lightblue;
}

.subpage-header {
  color: #007bff;
}

.loading {
  padding: 200px 0;
}

.no-data-message {
  background: rgb(70, 70, 70);
  border: 1px solid rgb(67, 67, 67);
  padding: 10px;
}

